@import "tailwindcss";
html {
  scroll-behavior: smooth;
  color-scheme: light; 
  
  background-color: #ffffff;

}

body {
  font-family: 'Raleway', sans-serif;
  
  background-color: #ffffff;
  color: #000000;
}

::-webkit-scrollbar {
  display: none;
}
@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
}
